{% extends "client/app_plain.html"%}

{% load static %}
{% load extra_tags %}

{% block content %}

<div class="container-fluid">

    <div class="d-flex justify-content-center align-items-center mt-5">
        <div class="text-center">
            <div class="bg-primary p-2 mb-5">
                <img src="{% static 'client/img/FineGo-no-bg.png' %}" width="250" >
            </div>
           
            <h4>{{user.get_full_name}}</h4>
            <svg id="barcode" width="1000"></svg>
        </div>
    </div>
</div>

<script script src=" {% static 'client/vendor/others/barcode.min.js' %}"></script>
<script>

    JsBarcode("#barcode", "{{user.student_id|default:'N/A'}}", {
        width: 5,
        height: 200,
        margin: 0,
        font: 'Nunito',
        fontSize: 50,
        background:  "#D7E2EF"
    });

</script>


{%endblock content%}