{% extends "client/app.html"%}

{% load static %}
{% load extra_tags %}

{% block content %}

<div class="container-fluid">

    <!-- Page Heading -->
    <div>
        <h1 class="h3 mb-0 text-gray-800">Manage Activities</h1>

        <div aria-label="breadcrumb">
            <ol class="breadcrumb" style="background-color: inherit;">
                <li class="breadcrumb-item active" aria-current="page">Manage Activities</li>
                <li class="breadcrumb-item">Activity Group</li>
                <li class="breadcrumb-item">{{activity.group.name}}</li>
                <li class="breadcrumb-item">{{activity.name}}</li>
            </ol>
        </div>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Activity Details</h6>
        </div>
        <div class="card-body row">
            <!-- Django messages -->
            {% if messages %}
            {% for message in messages %}
            {% include 'client/components/alert.html' %}
            {% endfor %}
            {% endif %}


            <div class="col-lg-8 col-md-8">

                <div class="border p-2">
                    <h6 class="label mb-3">Attendance</h6>
                    {% include 'client/components/table_search.html' %}

                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">User</th>
                                <th scope="col">Time In</th>
                                <th scope="col">Time Out</th>
                                <th scope="col">Total Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for attendance in page_obj.object_list %}
                            <tr>
                                <th scope="row">{{forloop.counter}}</th>
                                <td class="w-25">{{attendance.user.get_full_name}}</td>
                                <td>{{attendance.time_in|date:"F d, Y - P"}}</td>
                                <td>{{attendance.time_out|date:"F d, Y - P"}}</td>
                                <td>{{attendance.total_time}}</td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="5">
                                    <div class="d-flex justify-content-center">Nothing to show here.<div>
                                </td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>

                    {% include 'client/components/paginator.html' %}
                </div>
            </div>

            <div class="col-lg-4 col-md-4">
                <div class="row mb-2">
                    <div class="col-lg-4 col-md-4 label">Activity Group</div>
                    <div class="col-lg-8 col-md-8">{{activity.group.name}}</div>
                </div>

                <div class="row mb-2">
                    <div class="col-lg-4 col-md-4 label">Activity Name</div>
                    <div class="col-lg-8 col-md-8">{{activity.name}}</div>
                </div>

                <div class="row mb-2">
                    <div class="col-lg-4 col-md-4 label">Start Time</div>
                    <div class="col-lg-8 col-md-8">{{activity.start_time|date:"F d, Y - P"}}</div>
                </div>

                <div class="row mb-2">
                    <div class="col-lg-4 col-md-4 label">End Time</div>
                    <div class="col-lg-8 col-md-8">{{activity.end_time|date:"F d, Y - P"}}</div>
                </div>

                <div class="row mb-2">
                    <div class="col-lg-4 col-md-4 label">Status</div>
                    <div class="col-lg-8 col-md-8">
                        <span class="badge badge-{{activity.status_color}}">{{activity.status}}</span>
                        {% if activity.allowed_action %}
                        <span class="badge badge-secondary">accepting {{activity.allowed_action}}</span>
                        {% endif %}
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-lg-4 col-md-4 label">Attendee <br>  <small><i class="bi bi-exclamation-circle"> with time-in only</i></small></div>
                    <div class="col-lg-8 col-md-8">{{activity.get_num_attendee_incomplete}} participant(s)</div>
                </div>

                <div class="row mb-2">
                    <div class="col-lg-4 col-md-4 label">Attendee <br> <small><i class="bi bi-exclamation-circle"> with time-in and time-out</i></small></div>
                    <div class="col-lg-8 col-md-8">{{activity.get_num_attendee_complete}} participant(s)</div>
                </div>


            </div>
        </div>

    </div>
</div>




</div>
<!-- /.container-fluid -->
<script script src=" {% static 'client/vendor/others/sweetalert.min.js' %}"></script>
<script script src=" {% static 'client/vendor/others/just-validate.min.js' %}"></script>



{%endblock content%}